<section id="request">
    <form action"/" method="post">
    <!--    <input type="text" name="email" placeholder="your email address&hellip;"> --!>
        <input type="text" name="username" placeholder="your username&hellip;">
        <input type="submit" value="Request a password reset!">
    </form>
</section>
